<div class="container">
  <form action="" name="calc" class="calculator">
    <input type="text" class="value" value="{{screen}}" readonly name="txt"/>
    <span class="num clear" (click)="clear()"><i>C</i></span>
    <span class="num" (click)="click($event)"><i>/</i></span>
    <span class="num" (click)="click($event) "><i>*</i></span>
    <span class="num" (click)="click($event)"><i>7</i></span>
    <span class="num" (click)="click($event)"><i>8</i></span>
    <span class="num" (click)="click($event)"><i>9</i></span>
    <span class="num" (click)="click($event)"><i>-</i></span>
    <span class="num" (click)="click($event)"><i>4</i></span>
    <span class="num" (click)="click($event)"><i>5</i></span>
    <span class="num" (click)="click($event)"><i>6</i></span>
    <span class="num plus" (click)="click($event)"><i>+</i></span>
    <span class="num" (click)="click($event)"><i>1</i></span>
    <span class="num" (click)="click($event)"><i>2</i></span>
    <span class="num" (click)="click($event)"><i>3</i></span>
    <span class="num" (click)="click($event)"><i>0</i></span>
    <span class="num" (click)="click($event)"><i>.</i></span>

    <span
      class="num equal" (click)="equal()"><i>=</i></span>
  </form>
</div>
